.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#cart :hover {
  cursor: pointer;
}
span :hover {
  color: black !important;
  cursor: pointer;
}
a :hover {
  color: red !important;
  cursor: pointer;
}

#search :hover {
  cursor: text;
  color: black !important;
}

.card {
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 black !important; */
  width: 300px;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 2px 4px 0 black !important;
}

.button2 {
  color: white;
  font-weight: bold;
  background-color: #85ff21;
  border-radius: 20px;
}

.button2 :hover {
  background-color: #51ad05 !important;
}

#go :hover {
  background-color: #de1013 !important;
}

#plus :hover {
  cursor: pointer;
}









.container-slider {
  max-width: 800px;
  height: 300px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (max-width: 800px){
  .container-slider {
    margin-right: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}
.active-anim {
  opacity: 3;
}

.container-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 3px;
  background: none;
}
.dot.active {
  background: white;
}