.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#cart :hover {
  cursor: pointer;
}
span :hover {
  color: black !important;
  cursor: pointer;
}
a :hover {
  color: red !important;
  cursor: pointer;
}

#search :hover {
  cursor: text;
  color: black !important;
}

.card {
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 black !important; */
  width: 300px;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 2px 4px 0 black !important;
}

.button2 {
  color: white;
  font-weight: bold;
  background-color: #85ff21;
  border-radius: 20px;
}
.button4 {
  color: white;
  font-weight: bold;
  background-color: #85ff21;
  border-radius: 20px;
  margin-left: 170px;
  margin-top: -70px;
}

.button3 {
  color: white;
  font-weight: bold;
  background-color: #85ff21;
  border-radius: 20px;
}

.button2 :hover {
  background-color: #51ad05 !important;
}
.button3 :hover {
  background-color: #51ad05 !important;
}
.button4 :hover {
  background-color: #51ad05 !important;
}

#go :hover {
  background-color: #de1013 !important;
}
#go1 :hover {
  background-color: #51ad05 !important;
}
#continue :hover {
  background-color: #51ad05 !important;
}
#checkout :hover {
  background-color: #51ad05 !important;
}
#plus :hover {
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#zoom :hover {
  transform: scale(0.95) !important;
  cursor: pointer;
}

thead {
  background-color: #de1013;
  color: white;
}

c:hover{
  cursor: pointer;
}
c{
  border-radius: 20px;
}

